Repository NeuronEnix/ctx-router: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, eslint --fix --max-warnings=0 --cache

fix(example): re-export DEFAULT_USER_ROLE from example router
  examples/express/src/router.ts
Due: none

refactor(adapter): rename x-ctx-ts header to x-ctx-client-ts
  README.md
  src/adapter/express.v5.ts
  tests/adapter/express.v5.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

doc: rewrite CLAUDE.md and align data-merge priority with adapter
  CLAUDE.md
  src/core/req.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

fix(adapter): make body win over query and params in ctx.req.data
  CLAUDE.md
  src/adapter/express.v5.ts
  src/core/req.ts
  tests/adapter/express.v5.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore(deps): bump all deps to latest majors to clear Dependabot alerts
  examples/express/package.json
  package.json
  pnpm-lock.yaml
  src/router/builder.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore(deps): pin vite >=7.3.2 to clear remaining Dependabot alerts
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

ci: pin packageManager to pnpm@10.26.2
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

fix(ci): pin pnpm to 10.26.2 and drop corepack override
  .github/workflows/release-please.yml
Due: prettier --write --cache

refactor(req)!: consolidate caller hints, expand auth, drop transport.meta
  CLAUDE.md
  README.md
  src/adapter/express.v5.ts
  src/core/req.ts
  src/router/lifecycle.exec.ts
  tests/adapter/express.v5.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore: bump-minor-pre-major so 0.x breaking changes stay sub-1.0.0
  release-please-config.json
Due: prettier --write --cache

refactor(adapter): simplify enrichFromExpress builder
  src/adapter/express.v5.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

docs: realign READMEs and code comments with actual behavior
  CLAUDE.md
  README.md
  examples/README.md
  examples/express/README.md
  src/common/helper.ts
  src/core/req.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore(deps): upgrade dev dependencies and fix security advisories
  examples/express/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

chore(router): explicit routing errors, wildcard exact routes, lazy stats sampling
  CLAUDE.md
  README.md
  examples/express/README.md
  src/adapter/express.v5.ts
  src/common/helper.ts
  src/core/req.ts
  src/index.ts
  src/router/error.ts
  src/router/instance.ts
  src/router/lifecycle.exec.ts
  src/router/router.ts
  src/router/types.ts
  tests/adapter/express.v5.test.ts
  tests/router.test.ts
  tests/stats.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

fix(router)!: route-matching precedence, splat/optional-group support, exec lifecycle hardening
  CLAUDE.md
  README.md
  examples/express/src/server.ts
  src/adapter/express.v5.ts
  src/adapter/index.ts
  src/core/req.ts
  src/router/builder.ts
  src/router/error.ts
  src/router/index.ts
  src/router/lifecycle.exec.ts
  src/router/router.ts
  src/router/types.ts
  tests/adapter/express.v5.test.ts
  tests/router.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore(deps): update dev dependencies, resolve Dependabot advisories
  examples/express/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

Path conditions:
  prettier --write --cache: ((any of: src/**/*.{js,ts,tsx}) or (any of: src/**/*.{json,md,yaml,yml})) or (any of: *.{json,md,yaml,yml})
  eslint --fix --max-warnings=0 --cache: any of: src/**/*.{js,ts,tsx}
