Repository NeuronEnix/ctx-router: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor: rename transform to adapter for clarity
  src/adapter/express.v5.ts
  src/adapter/index.ts
  src/index.ts
  src/router.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor: move INSTANCE to router and restructure context creation flow
  examples/express/src/server.ts
  src/adapter/express.v5.ts
  src/adapter/index.ts
  src/defaultHook/hook.onError.ts
  src/index.ts
  src/router.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor: remove deprecated toCtx namespace
  src/index.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor: make router protocol-agnostic with single route parameter
  examples/express/src/router.ts
  src/router.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

docs: add comprehensive documentation to error handling types
  src/error.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor: introduce three-phase request lifecycle with begin/exec/end
  examples/express/src/server.ts
  src/router.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

pkg: pnpm add jest
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

chore: replace jest with vitest for unit testing
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

test: add vitest unit tests for error, router, and adapter
  .husky/pre-commit
  package.json
  tests/adapter/express.v5.test.ts
  tests/error.test.ts
  tests/router.test.ts
  vitest.config.ts
Due: prettier --write --cache

chore: reorder pre-commit hooks to standard order
  .husky/pre-commit
Due: none

refactor: rename route/routePattern to routeValue/route
  examples/express/src/server.ts
  src/adapter/express.v5.ts
  src/core/req.ts
  src/defaultHook/hook.beforeExec.ts
  src/router.ts
  tests/adapter/express.v5.test.ts
  tests/router.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore: migrate husky hooks to v9 syntax
  .husky/pre-commit
Due: none

feat: enhance context types and express adapter
  examples/express/src/server.ts
  src/adapter/express.v5.ts
  src/core/req.ts
  src/core/res.ts
  tests/adapter/express.v5.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

feat: add CPU and memory stats collection
  CLAUDE.md
  src/common/const.ts
  src/common/helper.ts
  src/router.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

feat!: implement dual lifecycle hooks (exec + handler)
  CLAUDE.md
  src/adapter/express.v5.ts
  src/core/index.ts
  src/core/req.ts
  src/defaultHook/hook.onExecBefore.ts
  src/defaultHook/hook.onExecError.ts
  src/index.ts
  src/router.ts
  src/router/error.ts
  src/router/index.ts
  src/router/instance.ts
  src/router/lifecycle.begin.ts
  src/router/lifecycle.end.ts
  src/router/lifecycle.exec.ts
  src/router/router.ts
  src/router/types.ts
  tests/error.test.ts
  tests/router.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

fix: update metrics to use -1 for unavailable values
  src/adapter/express.v5.ts
  src/common/const.ts
  src/core/meta.ts
  src/router/lifecycle.begin.ts
  src/router/lifecycle.end.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore: update dependencies and add pnpm overrides
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

fix: update output timestamp to -1 for uninitialized context
  tests/router.test.ts
Due: none

refactor!: consolidate lifecycle into exec() and improve type safety
  examples/express/src/api/user/userDetail.api.ts
  examples/express/src/server.ts
  refactor.md
  refactor.v2.md
  src/adapter/express.v5.ts
  src/common/helper.ts
  src/core/req.ts
  src/router/lifecycle.begin.ts
  src/router/lifecycle.end.ts
  src/router/lifecycle.exec.ts
  src/router/router.ts
  src/router/types.ts
  tests/adapter/express.v5.test.ts
  tests/router.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

feat: implement Phase 2 refactor - canonical routes and telemetry controls
  CLAUDE.md
  feat.backlog.md
  refactor.v2.md
  src/index.ts
  src/router/index.ts
  src/router/lifecycle.exec.ts
  src/router/route.ts
  src/router/router.ts
  src/router/types.ts
  tests/route.test.ts
  tests/router.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor: group req route data
  examples/express/src/server.ts
  refactor.md
  refactor.v3.md
  src/adapter/express.v5.ts
  src/core/req.ts
  src/defaultHook/hook.onExecBefore.ts
  src/router/lifecycle.exec.ts
  src/router/router.ts
  tests/adapter/express.v5.test.ts
  tests/router.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor: object-only route registration
  CLAUDE.md
  README.md
  examples/express/src/router.ts
  refactor.v4.md
  src/adapter/express.v5.ts
  src/core/req.ts
  src/index.ts
  src/router/index.ts
  src/router/lifecycle.exec.ts
  src/router/route.ts
  src/router/router.ts
  src/router/types.ts
  tests/adapter/express.v5.test.ts
  tests/route.test.ts
  tests/router.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor!: implement pattern-first router with scoped API
  CLAUDE.md
  README.md
  examples/express/README.md
  examples/express/src/router.ts
  examples/express/src/server.ts
  refactor.v4.md
  src/adapter/express.v5.ts
  src/core/req.ts
  src/defaultHook/hook.onExecBefore.ts
  src/router/lifecycle.exec.ts
  src/router/router.ts
  src/router/types.ts
  tests/adapter/express.v5.test.ts
  tests/router.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

feat: add fluent route API with via() middleware and to() handler
  examples/express/src/router.ts
  examples/express/src/server.ts
  src/core/index.ts
  src/defaultHook/hook.onExecBefore.ts
  src/defaultHook/hook.onExecError.ts
  src/index.ts
  src/router/index.ts
  src/router/lifecycle.exec.ts
  src/router/router.ts
  src/router/types.ts
  tests/adapter/express.v5.test.ts
  tests/router.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor: unify request data handling and improve context structure
  examples/express/src/api/user/userDetail.api.ts
  src/adapter/express.v5.ts
  src/core/req.ts
  src/core/res.ts
  src/defaultHook/hook.onExecBefore.ts
  src/router/lifecycle.exec.ts
  tests/adapter/express.v5.test.ts
  tests/router.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore: add pnpm override for diff package
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

refactor: enhance error handling system with CtxBaseError
  examples/express/src/api/user/userDetail.api.ts
  examples/express/src/api/user/userUpdate.api.ts
  examples/express/src/router.ts
  src/core/index.ts
  src/defaultHook/hook.onExecError.ts
  src/index.ts
  src/router/error.ts
  src/router/index.ts
  src/router/lifecycle.exec.ts
  src/router/types.ts
  tests/error.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore: add build:clean script and update example imports
  examples/express/README.md
  examples/express/nodemon.json
  examples/express/src/router.ts
  examples/express/src/server.ts
  package.json
  refactor.md
  refactor.v2.md
  refactor.v3.md
  refactor.v4.md
Due: prettier --write --cache

refactor: update README and example router for clarity and consistency
  README.md
  examples/express/src/router.ts
Due: prettier --write --cache

refactor: remove handler lifecycle hooks and simplify execution flow
  src/router/lifecycle.exec.ts
  src/router/router.ts
  src/router/types.ts
  tests/router.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

feat: enhance request context with framework identification
  src/adapter/express.v5.ts
  src/core/index.ts
  src/core/req.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore: release 0.1.0
  package.json
Due: prettier --write --cache

refactor: rename error handling classes for consistency
  examples/express/src/api/user/userDetail.api.ts
  examples/express/src/api/user/userUpdate.api.ts
  examples/express/src/router.ts
Due: none

refactor: comment out unused hook implementations and simplify default hooks
  src/defaultHook/hook.onExecBefore.ts
  src/defaultHook/hook.onExecError.ts
  src/router/router.ts
  src/router/types.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor: improve hook handling and error management in exec function
  src/router/lifecycle.exec.ts
  src/router/router.ts
  src/router/types.ts
  tests/router.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

feat: add default hooks for execution lifecycle management
  src/defaultHook/hook.onExecBefore.ts
  src/defaultHook/hook.onExecError.ts
  tests/router.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

feat: enhance CtxRouter with service name configuration and improved error handling
  examples/express/src/router.ts
  src/router/error.ts
  src/router/instance.ts
  src/router/router.ts
  src/router/types.ts
  tests/router.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor: remove default hooks for execution lifecycle management
  CLAUDE.md
  src/defaultHook/hook.onExecBefore.ts
  src/defaultHook/hook.onExecError.ts
  src/router/lifecycle.exec.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor: remove statsEnabled parameter from exec function and CtxRouter
  CLAUDE.md
  src/router/lifecycle.exec.ts
  src/router/router.ts
  src/router/types.ts
  tests/router.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor: update context type parameters in CtxRouter and exec function
  src/router/lifecycle.exec.ts
  src/router/router.ts
  src/router/types.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

Path conditions:
  prettier --write --cache: ((any of: src/**/*.{js,ts,tsx}) or (any of: src/**/*.{json,md,yaml,yml})) or (any of: *.{json,md,yaml,yml})
  eslint --fix --max-warnings=0 --cache: any of: src/**/*.{js,ts,tsx}
